<div>
    <h3>Lista de Libros</h3>
    <table class="table table-bordered table-striped" ng-if="vm.booksList.length>0">
        <tr>
            <th>Titulo</th>
            <th>Edicion</th>
            <th>Autores</th>
        </tr>

        <tr ng-repeat="book in vm.booksList">
            <td>{{book.title}}</td>
            <td>{{book.edition_date | date : 'M/d/yy'}}</td>
            <td>{{vm.arrayToString(book.authors)}}</td>
            <td><a href="#!/mngBook/{{book.book_id}}">Editar</a></td>
        </tr>
    </table>
    <p style="color: red" ng-if="vm.booksList.length ===0">No existen libros registrados</p>
</div>