<div>
  <h2>{{vm.editFlagBook? 'Modificar':'Agregar'}}</h2>
    <label>Nombre:
      <input type="text" ng-model="vm.book.title" />
    </label><br />
    <label>Edicion:
      <input type="date"  ng-model="vm.book.editionDateTime"/>
    </label><br />

  <p>lista de Autores:</p>
  <table>
    <tr><th>Nombre</th><th></th></tr>
    <tr ng-repeat="author in vm.authorsList">
      <td>{{author.name}}</td>
      <td><input type="checkbox" ng-model="author.selected"/></td>
    </tr>
  </table>
    <input type="button"
           ng-click="vm.createBook()"
           ng-disabled="!vm.book.title || !vm.book.editionDateTime"
           ng-if="!vm.editFlagBook"
           value="Crear" />

  <input type="button"
         ng-click="vm.updateBook()"
         ng-disabled="!vm.book.title || !vm.book.editionDateTime"
         ng-if="vm.editFlagBook"
         value="Actualizar" />
    <input type="button" ng-click="vm.goListBooks()" value="Cancelar" />
</div>